.w3-content{
    display: flex;
    flex-direction: row;
}
.w3-display-container{
    position: relative;
    max-width: 100%;
    max-height: 90vh;
}
img.mySlides{
    max-width: 100%;
    max-height: 90vh;
    margin: 0 auto;
}

.w3-white{
    color: white;
    background: rgba(0,0,0,0.5);
}

.w3-center{
    position: absolute;
    top: 90%;
    text-align: center;
}

.w3-left{
    float: left;
}

.w3-right{
    float: right;
}

.w3-left, .w3-right{
    color: white;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.w3-left:hover, .w3-right:hover{
    color: black;
    background: rgba(255,255,255,0.3);
    padding: 10px;
}



.w3-badge{
    width: 15px;
    height:15px;
    border-radius: 8px;
    margin: 0 12px;
    display: inline-block;
    cursor: pointer;
}

.w3-badge:hover{
    background: white;
}

.w3-border{
    border: solid 1px #ccc;
}
