<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
    <script type="text/javascript" src="../static/audio.js">
    </script>
  </head>
  <body>
    <div id="navigation">
      <nav>
	<ul>
	<li><a href="../index.html">Autres dossiers</a></li>
	{% for mp3set in mp3sets %}
	{% if mp3set.summary %}
	<li><a href="#pupitre_{{mp3set.title}}" title="{{mp3set.title}}">Pupitres ({{loop.index}})</a></li>
	{% endif %}
	{% endfor %}
	{% for mp3set in mp3sets %}
	{% if not mp3set.summary %}
	<li><a href="#autre_{{mp3set.title}}" title="{{mp3set.title}}">Fichier MP3 ({{loop.index}})</a></li>
	{% endif %}
	{% endfor %}
	<li><a href="#pdffiles">Partitions</a></li>
	{% if msc %}
	<li><a href="#musescorefiles">Fichiers source</a></li>
	{% endif %}
	<li><a href="#les_aides">Aide</a></li>
	</ul>
      </nav>
    </div>
    <h1>{{title}}</h1>
    <div class="box">
      <table class="downloadables">
	{% for mp3set in mp3sets %}
	{% if mp3set.summary %}
	<tr>
	  <th class="start-section" colspan="2" id="pupitre_{{mp3set.title}}">
	    <a class="home" href="#navigation" title="haut de la page">⇪</a>
	    Pupitres ({{loop.index}}) :
	    <span class="pup_titre">{{mp3set.title}}</span>
	  </th>
	</tr>
	<tr>
	  <td colspan="2">
	    <div class="around-slider" id="{{mp3set.uniqueId}}">
	    </div>
	    <div style="display: flex; flex-direction: row;">
	      <fieldset class="boutons" style="min-width: 28px;">
		<legend>
		  I/O
		</legend>
		<input type="hidden" value="{{mp3set.getSummary_simple}}"/>
		<button onclick="playpausevoix(this)" class="stop toutes"
			title="Cliquez pour lancer ou arrêter les voix">
		  <img src="../static/play.png" alt="play/pause"/>
		</button>
	      </fieldset>
	      <fieldset class="boutons temps">
		<legend>
		  Points d'entrée « automatiques » et « manuels »
		</legend>
		<input type="hidden" value="{{mp3set.getSummary_simple}}"/>
		</button>
		<button onclick="rejoue(this, 0)" class="goto toutes"
			title="démarrage au début">
		  0:00
		</button>
		{% for tc, obj in mp3set.entrees.items()|sort(attribute='1.tc') %}
		<button onclick="rejoue(this, {{ tc }})" class="goto toutes"
			title="{{ obj.comment }}">
		  {{ obj.tc }} <br> {{ obj.comment }}
		</button>
		{% endfor %}
		<button onclick="pointEntree(this)" class="add toutes"
			title="Nouveau point d'entrée, maintenant !">
		  <img src="../static/plusEntree.png" alt="+ entrée"/>
		</button>
	      </fieldset>
	    </div>
	    <script type="text/javascript">init({{mp3set.getSummary}}, "{{mp3set.uniqueId}}")</script>
	  </td>
	</tr>
	{% else %} {# bool(mp3set.summary) is not True #}
	<tr>
	  <th class="start-section" colspan="2" id="autre_{{mp3set.title}}">
	    <a class="home" href="#navigation" title="haut de la page">⇪</a>
	    Fichier MP3 ({{loop.index}}) :
	    <span class="pup_titre">{{mp3set.title}}</span>
	  </th>
	</tr>
	{% endif %}
	<tr>
	  <td class="start-section">
	    <a class="home" href="#navigation" title="haut de la page">⇪</a>
	    {% if mp3set.summary %}
	    <strong>Voix commandées (pupitres {{loop.index}})</strong>
	    {% else %}
	    <strong>{{mp3set.title}}</strong>
	    {% endif %}
	    <ul>
	      {% for tit, audio in mp3set.collection.items() %}
	      <li>
		<figure>
		  <figcaption>
		    <span class="tag">{{audio.tag}}</span> {{tit}}
		  </figcaption>
		  <a href="{{audio.path}}"><img src="../static/mp3-download.png" class="icon1"/></a>
		  {{audio.toHTML}}
		  {% if not mp3set.summary %}
		  <fieldset class="boutons">
		    <legend>
		      Points d'entrée (temps en seconde)
		    </legend>
		    <button onclick="playpausevoix(this)" class="stop"
			    title="Cliquer pour jouer/arrêter">
		      <img src="../static/play.png" alt="play/pause"/>
		    </button>
		    <input class="static_add" type="text" placeholder="00:00.0" style="display:none;"/>
		    <button onclick="pointEntree(this)" class="add"
			    title="Cliquez pour ajouter un nouveau point d'entrée">
		      <img src="../static/plusEntree.png" alt="+ entrée"/>
		    </button>
		    <button onclick="rejoue(this, 0)" class="goto"
			    title="démarrage au début">
		      0.0
		    </button>
		  </fieldset>
		  {% endif %}
		</figure>
	      </li>
	      {% endfor %}
	    </ul>
	  </td>
	  <td>{{mp3set.size}}</td>
	</tr>
	{% endfor %}
	<tr><th class="width1 start-section">
	  <a class="home" href="#navigation" title="haut de la page">⇪</a>
	  Fichier téléchargeable
	</th><th>Taille</th></tr>
	<tr>
	  <td id="pdffiles">
	    <strong>Partitions au format PDF</strong>
	    <ul>
	      {% for f in pdf %}
	      <li>
		<a href="{{f}}"><img src="../static/pdf-download.png" class="icon1"/>{{f}}</a>
	      </li>
	      {% endfor %}
	    </ul>
	  </td>
	  <td>
	    {{pdfsize}}
	  </td>
	</tr>
	{% if msc %}
	<tr>
	  <td class="start-section" id="musescorefiles" colspan="2">
	    <a class="home" href="#navigation" title="haut de la page">⇪</a>
	    <strong>Fichiers Musescore comprimés</strong>
	    <ul>
	      {% for mscf in msc %}
	      <li>
		<a href="{{ mscf.path }}"><img src="../static/msc-download.png" class="icon1" alt="télécharger musescore"/>{{ mscf.path }}</a> ({{ mscf.size }})
	      </li>
	      {% endfor %}
	    </ul>
	  </td>
	</tr>
	{% endif %}
	{% if musicxml %}
	<tr>
	  <td class="start-section" id="musicxmlfiles">
	    <a class="home" href="#navigation" title="haut de la page">⇪</a>
	    <strong>Fichiers MusicXml</strong>
	    <ul>
	      {% for f in musicxml %}
	      <li>
		<a href="{{f}}"><img src="../static/mxml-download.png" class="icon1" alt="télécharger musicxml"/>{{f}}</a>
	      </li>
	      {% endfor %}
	    </ul>
	  </td>
	  <td>
	    {{musicxmlsize}}
	  </td>
	</tr>
	{% endif %}
      </table>
      <div id="les_aides" class="col2">
	<h2 class="aide_titre">
	  <a class="home" href="#navigation" title="haut de la page">⇪</a>
	  Aide pour les widgets
	</h2>
	<div class="aide">
	  <h3>Rendu musical <img src="../static/rendu-musical.png" alt="widget audio" style="width: 150px;"/></h3>
	  <img src="../static/player.png" alt="widget"/><br/>
	  <p>
	    Les fichiers MP3 peuvent être joués par le navigateur ; le
	    « widget » classique se compose, de gauche à droite, d'un
	    contrôle pour la mise en route/la pause de la musique ;
	    puis d'un curseur qui permet de voir l'avancement dans le
	    temps de la musique (on peut agir sur ce curseur) ; enfin,
	    à droite, il y a un contrôle du niveau sonore de la source de
	    musique.
	  </p>
	</div>
	<div class="aide">
	  <h3>Pupitres de commande <img src="../static/pupitre.png" alt="pupitre" style="width: 80px; vertical-align: middle;"/></h3>
	  <img src="../static/aide1.png" alt="widget"/><br/>
	  <p>
	    Dans certains cas, un groupe de pistes musicales est
	    contrôlé par des pupitres. Celui-ci permet de réaliser
	    des actions sur tout le groupe en même temps.
	  </p>
	  <ol type="a">
	    <li>
	      Des curseurs verticaux permettent d'agir sur le niveau
	      sonore de chaque piste ; on peut se fier aux étiquettes
	      qui apparaissent en bas de chaque curseur vertical.
	    </li>
	    <li>
	      Le choix de numéro de mesure et le bouton
	      « Aller ! » permettent de caler toutes les
	      pistes sur une des mesures de la partition. Si le bouton
	      de démarrage n'existe pas encore dans la liste des
	      points d'entrée, il est ajouté. <br/>
	      <i>
		Ce choix de numéro de mesure n'est possible que pour
		les fichiers MP3 exportés à l'aide d'un synthétiseur,
		à partir d'un fichier Musescore.
	      </i>
	    </li>
	    <li>
	      Un bouton « Jouer/Pause », portant l'icône
	      <img src="../static/play.png" alt="play"/> ou
	      <img src="../static/pause.png" alt="pause"/> commande la
	      lecture (au temps courant) ou l'arrêt du
	      groupe de pistes sonores. Le bouton ou les boutons à
	      droite de celui-ci sont des boutons pour lancer la
	      lecture des pistes sonores à des moments précis. Quand
	      on commence, seul le bouton de départ à zéro est
	      présent.
	    </li>
	    <li>
	      Le bouton beige « <img src="../static/play-mini.png" alt="play"/>
	      0.0 » est prédéfini :
	      il permet de lancer la lecture de toutes les pistes
	      sonores du groupe depuis leur début. C'est le départ à
	      zéro.
	    </li>
	    <li>
	      Les boutons jaunes n'existent pas quand on commence. Si un
	      bouton est marqué par exemple « <img src="../static/play-mini.png" alt="play"/>
	      M. 9 », ça
	      veut dire qu'il lance le rendu musical des pistes à la mesure
	      numéro 9. S'il est plutôt marqué « <img src="../static/play-mini.png" alt="play"/>
	      1:6.2 », ça
	      veut dire qu'il lance le rendu au temps une minute, six secondes
	      et deux dixièmes. Ces boutons sont en ordre chronologique. <br/>
	      Les boutons jaunes dans l'exemple ci-dessus ont été mis en place,
	      l'un avec le bouton 
	      « aller à la mesure numéro ... » (b), l'autre avec
	      le bouton bleu clair (f), au moment précis <b>1:6.2</b>.
	    </li>
	    <li>
	      Un bouton bleu clair siglé d'un petit chronomètre et
	      d'un signe "+" permet d'ajouter des points d'entrée à
	      n'importe quel moment, pour relancer le rendu de toutes
	      les pistes du groupe à ce repère de temps. On peut
	      cliquer ce bouton pendant que la musique joue.
	    </li>
	  </ol>
	  <h3>Boutons de pré-réglage</h3>
	  <img src="../static/prereglages.svg" alt="prereglages" class="float-left margin-right-1em"/>
	  <p>
	    On peut cliquer sur des boutons colorés à droite de chaque
	    curseur vertical ; ça permet de prérégler les canaux sonores
	    pour faciliter l'entraînement vocal.
	  </p>
	  <div class="clear-both"></div>
	  <dl>
	    <dt>+++</dt>
	    <dd>Une voix au maximum, les autres en sourdine.</dd>
	    <dd>Ce réglage permet le début de l'entraînement, quand on
	      doit apprendre juste sa voix.</dd>
	    <dt>++</dt>
	    <dd>Une voix majoritaire par rapport aux autres.</dd>
	    <dd>Quand on poursuit l'entraînement, on a de moins en
	      moins besoin d'entendre « sa » voix</dd>
	    <dt>-</dt>
	    <dd>Tous les voix sont à égalité (50 %).</dd>
	    <dd>Ça permet d'entendre le morceau de musique de façon
	      « équilibrée », on peu aussi continuer l'entraînement
	      quand on connaît bien sa partie</dd>
	    <dt>--</dt>
	    <dd>Un voix minoritaire, les autres majoritaires</dd>
	    <dd>Dans ces conditions, on entend faiblement « sa » voix.
	      À pratiquer uniquement quand on est très bien entraîné.</dd>
	  </dl>
	</div>
	<div class="aide">
	  <h3>Les « aah », les « saxos » ...</h3>
	  <p>
	    Les « pupitres de commande » sont le plus souvent réalisés
	    après exportation semi-automatique en format MP3, basée
	    sur les partitions. C'est le travail d'un synthétiseur,
	    donc on ne peut pas en attendre beaucoup d'expression. Les
	    voix de synthétiseur de type « aah » ressemblent à la voix
	    humaine, mais il il y a peu d'attaques des notes, donc on
	    distingue mal les syllabes quand la note reste la
	    même. Les voix de type « saxo » sont moins proches de la
	    voix humaine, mais chaque note est attaquée plus
	    franchement.
	  </p>
	</div>
	<div class="aide">
	  <h3>Piste musicales non commandées par des pupitres <img src="../static/sans-pupitre.png" alt="sans pupitre" style="width: 80px; vertical-align: middle;"/></h3>
	  <p>
	    Quand il n'y a pas de pupitres agissant sur toute une série
	    de pistes musicales, chacune est suivie d'un « widget » de
	    contrôle du temps, qui permet de définir des points de départ.
	    Ce widget ne contrôle alors qu'une seule piste sonore.
	  </p>
	</div>
	<h2 class="aide_titre">
	  <a class="home" href="#navigation" title="haut de la page">⇪</a>
	  Aide : utilisation des fichiers
	</h2>
	<div class="aide">
	  <h3>Les téléchargements <img src="../static/fleche.svg" alt="fleche"
	  style="width: 20px; vertical-align: middle;"/> </h3>
	  <p>
	    Tous les liens accompagnés de l'icône
	    <img src="../static/fleche.svg" alt="fleche"
		 style="width: 20px; vertical-align: middle;"/>
	    correspondent à un fichier qu'on peut télécharger.
	  </p>
	</div>
	<div class="aide">
	  <h3>Les fichiers musicaux  Musescore <img src="../static/msc-download.png" alt="logo de musescore" style="float: right; width: 50px;"/></h3>
	  <p>
	    Les fichiers au format Musescore peuvent être lus par le logiciel
	    libre Musescore. Notez bien que Musescore version 3 est recommandé ;
	    cependant Musescore 4 (plus lourd, et plus exigeant pour les
	    ordinateurs) convient aussi.
	  </p>
	  <dl>
	    <dt>Installation de Musescore pour Windows</dt>
	    <dd>
	      <a href="https://musescore.org/fr/download/musescore.msi">
		Téléchargez l'installeur, depuis le site officiel
		</a>,
		puis exécutez l'installeur.
	    </dd>
	    <dt>Installation de Musescore pour Macintosh</dt>
	    <dd>
	      <a href="https://musescore.org/fr/download/musescore.dmg">
		Téléchargez l'installeur, depuis le site officiel
		</a>,
		puis exécutez l'installeur.
	    </dd>
	    <dt>Installation de Musescore pour GNU/Linux</dt>
	    <dd>
	      Musescore fait partie des paquets de votre
	      distribution favorite; utilisez son gestionnaire 
	      de paquets.
	    </dd>
	  </dl>
	</div>
	<div class="aide">
	  <h3>Les fichiers musicaux  MusicXml <img src="../static/mxml-download.png" alt="logo de musixml" style="float: right; width: 50px;"/></h3>
	  <p>
	    Les fichiers au format MusicXML peuvent être importés par de
	    nombreuses application. En particulier, sur les téléphones
	    portables, on trouve des applications qui savent exploiter
	    correctement ce format de fichier musical, comme par exemple :
	  </p>
	  <ul>
	    <li><a href="https://www.fortenotation.com">FORTE Notation</a>, pour Android et iOs</li>
	  </ul>
	  <dl>
	    <dt>Installation FORTE Reader/Editor</dt>
	    <dd>
	      <a href="https://www.fortenotation.com/en/products/forte-apps/">
		Téléchargez l'application, depuis le site officiel
	      </a>. Pour un usage gratuit, il faut toucher le mot
	      "skip" quand le logiciel vous demande si vous voulez une version
	      payante améliorée. Le rendu musical est acceptable, même en
	      mode gratuit.
	    </dd>
	  </dl>
	</div>
	<div class="aide">
	  <h3>Les partitions au format PDF<img src="../static/pdf-download.png" alt="logo de musescore" style="float: right; width: 50px;"/></h3>
	  <p>
	    Les partitions au format PDF peuvent être lues et
	    imprimées par tout bon lecteur PDF ou tout navigateur web.
	    Certaines proviennent d'échanges par courriel, les autres
	    sont exportées à partir d'un fichier Musescore. Dans ce
	    dernier cas, les fichiers sont plus légers et souvent les
	    tracés musicaux sont plus précis.
	  </p>
	</div>
	<div class="aide">
	  <h3>Les fichiers MP3 <img src="../static/mp3-download.png" alt="logo de mp3" style="float: right; width: 50px;"/></h3>
	  <p>
	    Certains fichiers MP3 proviennent d'échanges par courriel.
	    Les autres fichiers MP3 ont été obtenus à partir du
	    fichier au format Musescore, par exportation, avec divers
	    réglages, en variant les « instruments » ou les « voix »
	    pour le synthétiseur et en sélectionnant certaines voix.
	  </p>
	</div>
      </div>
    </div>
    <script type="text/javascript">init_accordeons();</script>
  </body>
</html>
