<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Fichiers pour la chorale Saltarella</title>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="static/style.css"/>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
    <script type="text/javascript" src="/javascript/jquery/jquery.js">
    </script>
    <script type="text/javascript" src="static/main.js">
    </script>
  </head>
  <body>
    <h1>Fichiers pour la chorale Saltarella</h1>
    <div class="hint">
      Cliquez sur les têtes de colonnes pour des mises en ordre. <br/>
      Raccourci-clavier Ctrl-F pour rechercher un mot.
    </div>
    <div>
      Raccourcis vers <a href="#diapos">les diaporamas</a>, <a href="#videos">les vidéos</a>
    </div>
    <div class="box">
      <table class="sortable">
	<thead>
          <tr>
            <th title="Cliquez pour mettre en ordre" class="sorth prefer-reversed">
	      Dernière<br/>mise à jour
	    </th>
	    <th class="width1 sorth" title="Cliquez pour mettre en ordre">
	      Dossiers
	    </th>
	  </tr>
	</thead>
	<tbody>
	  {% for k in orderedPaths %}
	  <tr>
	    <td>
	      <span class="numdate">
		{{foundDirs[k][0].strftime("%Y%m%d")}},
	      </span>
	      {{foundDirs[k][0].strftime("%d %B %Y")}}
	    </td>
	    <td>
	      <a href="{{k}}/index.html">{{foundDirs[k][1]}}</a>
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
    <div>
      <h3>Les diaporamas</h3><a  name="diapos"></a>
      <ul>
	{% for d in photodirs %}
	<li><a href="{{d}}/index.html">{{d}}</a></li>
	{% endfor %}
      </ul>
      <h3>Vidéos</h3><a name="videos"></a>
      <ul>
	{% for y in videos %}
	<li>{{ y }}</a></li>
<ul>
  {% for v in videos[y] %}
  <li><a href="{{ v.path }}">Publiée le {{ v.datestr }}</a></li>
  {% endfor %}
</ul>
	{% endfor %}
      </ul>
    </div>
    <script type="text/javascript">
      make_sortable();
      // première colonne en ordre des dates inverse
      $("table th").first().click()
    </script>
  </body>
</html>
