<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../static/photostyle.css" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
    <script src="../static/jquery.js">
    </script>
  </head>
  <body onload="init()">
    <h1>{{title}} {{dir}}</h1>
    <div class="w3-content">
      <div class="w3-display-container">
	{% for p in photos %}
	<img class="mySlides" src="{{p}}">
	{% endfor %}
	<div class="w3-center" style="width:100%">
	  <div class="w3-left" onclick="plusDivs(-1)">&#10094;</div>
	  <div class="w3-right" onclick="plusDivs(1)">&#10095;</div>
	  {% for p in photos %}
	  <span class="w3-badge demo w3-border" onclick="currentDiv({{ loop.index }})" title="photo N°{{loop.index}}"></span>
	  {% endfor %}
	</div>
      </div>
    </div>
    {% if videos %}
    <div id="videos">
      <h2>Videos</h2>
      {% for v in videos %}
      <div class="videocontainer">
	<video controls width="640">
	  <source src="{{v}}" src="{{v}}" />
	  Votre navigateur ne sait pas gérer la vidéo
	  <a href="{{v}}">{{v}}</a> ?
	</video>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <script>
      var slideIndex = 1;
      var start = new Date;
      showDivs(slideIndex);

      function plusDivs(n) {
	  showDivs(slideIndex += n);
      }

      function currentDiv(n) {
	  showDivs(slideIndex = n);
      }

      function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  var dots = document.getElementsByClassName("demo");
	  if (n > x.length) {slideIndex = 1}
	  if (n < 1) {slideIndex = x.length}
	  for (i = 0; i < x.length; i++) {
	      x[i].style.display = "none";  
	  }
	  for (i = 0; i < dots.length; i++) {
	      dots[i].className = dots[i].className.replace(" w3-white", "");
	  }
	  x[slideIndex-1].style.display = "block";  
	  dots[slideIndex-1].className += " w3-white";
      }

      function razTempo(){
	  /* met le chronomètre à zéro */
	  start = new Date();
      }

      function diapoAuto(){
	  var now = new Date();
	  /* quand le chronomètre est à 5 secondes */
	  if ((now - start) > 5000) {
	      plusDivs(1);
	      /* met le chronomètre à 3 secondes */
	      start = new Date(new Date().getTime() - 3000);
	      console.log(now, start, start-now);
	  }
      }

      function init(){
	  $("body").mousemove(razTempo)
	  setInterval(diapoAuto, 500);
      }
    </script>

  </body>
</html>
